{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
    <div class="details-products">
        <div class="details-slider">
            <div class="slider-product">
                <img src="/media/{{ product.image }}">
            </div>
        </div>

        <div class="description">
            <h3 class="big-bold">{{ product.name }}</h3>
            <h3 class="red">горячее предложение</h3>
            <p class="price">{{ product.price }}<span>руб</span></p>
            <a href="{% url 'basketapp:basket-add' product.id %}" class="red-button">
                заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
            <div class="description-text">
                <p>{{ product.desc|linebreaks }}</p> 
            </div>
        </div>
    </div>
{% endblock content %}