{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
<div class="col-md-4">
    <h2>ВХОД</h2>
    <br>
    <form class="form-horizontal" action="{% url 'authapp:login' %}" method="post">
        {% csrf_token %}
        {{ login_form.as_p }}
        <br>
        <input class="form-control" type="submit" value="войти">
    </form>
    <button class="btn btn-round form-control">
        <a href="{% url 'authapp:register' %}" class="">
            зарегистрироваться
        </a>
    </button>
</div>
{% endblock content %}