{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
<div class="col-md-4">
    {% if user.basket.count == 0 %}
        <h2>Ваша корзина пуста</h2>
    {% else %}
        <h2>Ваша корзина</h2>
        <br>
        <table>
            <tr>
                <th>Наименование</th>
                <th>Количество</th>
                <th></th>
            </tr>
            {% for user_product in user.basket.all %}
            <tr>
                <td>{{ user_product.product }}</td>
                <td>{{ user_product.quantity }}</td>
                <td><a href="{% url 'basketapp:basket-delete' user_product.id %}">Удалить</a></td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <h4>Сумма ваших покупок: <b>{{ user.basket.total_cost }}</b></h4>
    {% endif %}
</div>
{% endblock content %}