{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="slider">
        {% include 'main/menu.html' %}
        <div class="text-slider">
            <form class="form-horizontal" action="{% url 'register' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ register_form.as_p }}
                <br>
                <input class="form-control" type="submit" value="зарегистрироваться">
            </form>        
        </div>
    </div>

    <div class="featured">
        <div class="featured-menu">
        </div>
    </div>
    
    <div class="clr"></div>

</div>
{% endblock content %}